@model IEnumerable<CRUDLojaInterativa.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

@{
    IEnumerable<Fabricante> Fabricantes = ViewData["Fabricantes"] as IEnumerable<Fabricante>;
}

<h1>Produtos</h1>

<p>
    <a class="Button" asp-action="Create">Adicionar novo</a>
</p>
<table class="table corText">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nome Produto
        </th>
        <th>
            Fabricante
        </th>
        <th>
            Categoria
        </th>
        <th>
            Preço
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Fabricantes.First(c => c.Id == item.FabricanteId).Nome
        </td>
        <td>
            @{
                if(item.Categoria == Categoria.Categoria1)
                {
                    @Fabricantes.First(c => c.Id == item.FabricanteId).Categoria1
                } else
                if (item.Categoria == Categoria.Categoria2)
                {
                    @Fabricantes.First(c => c.Id == item.FabricanteId).Categoria2
                } else
                if (item.Categoria == Categoria.Categoria3)
                {
                    @Fabricantes.First(c => c.Id == item.FabricanteId).Categoria3
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            <a class="Button" style="margin-right: 20px;" asp-action="Edit" asp-route-id="@item.Id">Editar Equipes</a>
            <a class="Button" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
        </td>
    </tr>
}
</table>
